<div id="footer">
    <p class="left"><a href="/pages/<%= _('copyright') %>">&#169; 2008 <%= _(GlobalConfig.application_name) %></a></p>
<!--    <p class="right">
	<% if GlobalConfig.use_external_contact_us -%>
	    <a href="<%=GlobalConfig.contact_us_url%>"><%= _('Feedback') %></a>	
	<% else -%>
 		<a href="/contact"><%= _('Feedback') %></a> 
	<% end -%> | 
	<%= link_to _('Privacy'), page_path('privacy') %> |
	<%= link_to _('Terms of Service'), page_path('terms_of_service') %>
    </p>
-->
</div>
